*.pyc
logs/*
clean_trainset_28spk_wav/*
noisy_trainset_28spk_wav/*
my_runs/*
.vscode/*
clean_trainset_wav/*
noisy_trainset_wav/*
train_data/*
finished/*
checkpoints/*
Models/__pycache__/*
Models/*.pyc
Input/*.pyc
Input/__pycache/*
__pycache__/*
Results/*
clean_testset_wav/*
noisy_testset_wav/*
test_data/*
.ipynb_checkpoints/*
